html {
  background-color: lightcoral;
}

main {
  margin: 1rem auto;
  background-color: honeydew;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

h1 {
  margin-bottom: .5rem;
}

h3 {
  padding: .5rem 1rem;
  border-bottom: 2px solid black;
  margin: .5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  width: 80%;
  text-align: center;
}

li {
  padding: .5rem;
  border: 2px solid black;
  border-radius: 5px;
}

li:hover {
  background-color: lightcoral;
}

a {
  text-decoration: none;
}

iframe {
  margin: 0 auto 1rem;
}